*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}

.hero{
    width : 100% ;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0, 0.7)), url('https://media.istockphoto.com/photos/portrait-of-handsome-man-against-black-background-picture-id929063744?k=20&m=929063744&s=170667a&w=0&h=W8kmk8N_DXERqKw0aIqP9pmmq59J-SHsenooid33HpA=') ;
    background-size : cover; 
    background-repeat: no-repeat;
}

nav{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding-top : 30px ;
    padding-left: 5%;
    padding-right: 5%;
}

.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size : 30px ;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    color: aliceblue;
}
nav span{
    color: rgb(232, 42, 42);
}
nav ul li{
    padding: 20px 20px;
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    text-emphasis: bold;
    cursor: pointer;
    font-size: 18px;
}
nav ul li:hover{
    color:rgb(232, 42, 42);
    transition: .5s;
}
.btn{
    background-color: rgb(232, 42, 42);
    padding: 10px 15px;
    border-radius: 10px;
    letter-spacing: 1px;
    text-emphasis: bold;
    color: aliceblue;
    cursor: pointer;
    transition: .5s ;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    color:aliceblue ;
    position: absolute;
    top: 50% ;
    left: 5% ;
    /* transform: translateY(-50%); */
}
.content h1{
    font-size: 75px;
    letter-spacing: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.content h3{
    font-size: 25px;
}
.content h4 {
    font-size: 20px;
}
.form-style form{
    width: 310px;
    max-width: 100% ;
    position: relative;
    margin-top: 20px
}

.input-style{
    height: 30px;
    outline: none;
    width: 100%;
    /* position: absolute; */
    padding-left: 10px ;
    display: inline-block;
    color: rgb(232, 42, 42);
    border: 1px solid rgb(232, 42, 42);
    border-radius : 20px;
}

.input-style-btn{
        position : absolute;
        display: inline-block;
        background-color: rgb(232, 42, 42);
        color: aliceblue;
        outline: none;
        border: none;
        margin: 0px;
        top : 10% ;
        padding: 6px 15px;
        right: 0px;
        border-radius: 20px;
}
.about{
    background-color:#191919 ;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 100px 100px;
}

.about img{
    width: 50%;
    height: auto;
    margin-right: 50px;
}
.about h1{
    color: aliceblue;
    font-size: 75px;
    margin-bottom: 20px;
}
.about h3{
    color: aliceblue;
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.about h3 span{
    color: rgb(232, 42, 42);
    letter-spacing: 3px;
}

.about p{
    color: bisque;
    line-height : 25px;
    text-justify: auto;
    font-size: 12px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;   
}

.btn-about-me{
    padding: 10px 15px;
    text-decoration: none;
    background-color: rgb(232, 42, 42);
    color: aliceblue;
    border: none;
    border-radius: 15px;
    transition: .5s linear;
    text-transform: capitalize ;
    margin-top: 20px;
    
}
.btn-about-me:hover{
    cursor: pointer;
    
    background-color: transparent;
    border: 1px solid rgb(232, 42, 42);
}
.services{
    background-color: #191919;
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0px 100px;
    color:aliceblue;
}
.services h1{
    color: aliceblue;
    font-size: 75px;

}

.cards-section{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}
.card{
    background-color: #101010;
    width: 25%;
    height: auto;
    text-align: center;
    overflow: hidden;
    border: #000000;
    border-radius: 7%;
    box-shadow: 0 8px 8px 0 rgba(110, 106, 106, 0.2);
        transition: 0.3s;
}

.card i{
    font-size: 40px;
    color: rgb(232, 42, 42);
    margin: 20px 0px;
}
.card p{
    margin: 20px 30px;
    color: bisque;
    font-size: 12px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.card-btn {
    padding: 10px 15px;
    text-decoration: none;
    background-color: rgb(232, 42, 42);
    color: aliceblue;
    border: none;
    border-radius: 15px;
    transition: .5s linear;
    text-transform: capitalize ;
    margin-bottom: 20px;
}

.card-btn:hover {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgb(232, 42, 42);
}